@import "header.css footer.css";

.cards {
  max-width: 900px;
  max-height: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: auto;
  row-gap: 30px;
  box-sizing: content-box;
}
  
.card {
  height: fit-content;
  max-width: 400px;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  border: solid #51bb7b 5px;
  padding: 5px;
  }
  

article:hover {
  box-shadow: 5px 5px 5px 5px #51b;
  opacity: 0.6;
}

  .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
  
  .card__content {
    font-family: 'Bruno Ace SC', cursive;
    display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: auto;   
  
}
  
img {
  height: 200px;
  width: 200px;
  padding: 5px;
  border-radius: 1.5em;
  margin-top: 10px;
}

  .card__link {
  margin-top: auto; 
  }

  p.card__link:hover {
    opacity: 0.5;
    }
    

.fa {
  padding: 10px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }
  
  .fa:hover {
  opacity: 0.5;
  }
  
  
  .fa-facebook {
  background: #3B5998;
  color: white;
  }
  
  .fa-twitter {
  background: #55ACEE;
  color: white;
  }

  .fa-linkedin {
    background: #55ACEE;
    color: #fff;
  }


   section p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

