@import "/CSS/header.css";
@import "/CSS/footer.css";
@import "/CSS/sharelinks.css";
    
  .card {
    display: grid;
    height: fit-content;
    max-width: 600px;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
    margin: auto;
    box-shadow: 5px 5px 5px 5px #51b;

    }
  
    .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
    
    .card__content {
      font-family: 'Bruno Ace SC', cursive;
      display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-width: auto;   
  }
    
    .card__link {
    margin-top: auto; 
    display: flex;
    max-width: 300px;
    }

    .posts {
      font-family: 'Bruno Ace SC', cursive;
      align-items: center;
    justify-content: center;
    text-align: center;
    border-width: auto; 
    margin-top: 20px; 
    margin-bottom: 20px;
    }
  

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
    

     section p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
