@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header{
  color: #9f9c9c;
  padding: 20px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  font-family: 'Sedgwick Ave Display', cursive;
  display: flex;
  list-style-type: none;
}

header nav li {
  margin-right: 30px;
  margin-top: 20px;
  color: #000;
}

header button {
  max-height: 30px;
  margin-top: 30px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
  background-position: center;
  font-family: 'Sedgwick Ave Display', cursive;
}

header h1 {
  font-family: 'Tilt Prism', cursive;
  font-weight: 600;
}

.about {
  font-family: 'Sedgwick Ave Display', cursive;
  max-width: 900px;
  margin: auto;
  border-top: #000;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4px;
  grid-auto-flow: column;
  text-align: center;
  padding: 10px;
  white-space: pre-line;
  }

  .avatar {
  display: grid;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 45px; 
  border: dotted #51b;
}

  .card {
  max-width: 900px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: column;  
  padding: 10px;
  }

  header nav li:hover {
  box-shadow: 5px 5px 5px 5px #51b;
  background-color: #9f9c9c;
  justify-content: center;
  opacity: 0.6;
  }

.title {
  font-family: 'Sedgwick Ave Display';
  color: #51b;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 1050;
  text-decoration: underline;
}

body p {
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 600;
  font-size: x-large;
}

.border {
border: solid 8px #51bb7b;
}
  footer{
      font-family: 'Bruno Ace SC', cursive;
      text-align: center;
      color: #51b;
      font-weight: 600;
      font-style: italic;
      text-shadow: #51bb7b;
    }

    .hover:hover {
      box-shadow: 5px 5px 5px 5px #51b;
      background-color: #9f9c9c;
      justify-content: center;
      }