.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header{
  color: #9f9c9c;
  padding: 20px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav li:hover {
  box-shadow: 5px 5px 5px 5px #51b;
  background-color: #9f9c9c;
  justify-content: center;
  opacity: 0.6;
  }

header nav ul {
  font-family: 'Sedgwick Ave Display', cursive;
  display: flex;
  list-style-type: none;
}

header nav li {
  margin-right: 30px;
  margin-top: 20px;
  color: #000;
}

.hb {
  max-height: 30px;
  margin-top: 30px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
  background-position: center;
  font-family: 'Sedgwick Ave Display', cursive;

}

header h1 {
  font-family: 'Tilt Prism', cursive;
  font-weight: 600;
}

  
body, html {
  height: 100%;
}

.hero-image {
  background-image: radial-gradient(#51b, #51bb7b), url("photographer.jpg");

  height: 75%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: 'Sedgwick Ave Display', cursive;  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: x-large;
}

.hero-font {
font-weight: 1600;
font: 45px;
}


.bb {
  border: none;
  color: #51b;
  font-weight: 800;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
  background-position: center;
}

footer {
  font-family: 'Bruno Ace SC', cursive;
 text-align: center;
  color: #51b;
  font-weight: 600;
  font-style: italic;
}