.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header{
  color: #9f9c9c;
  padding: 20px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  font-family: 'Sedgwick Ave Display', cursive;
  display: flex;
  list-style-type: none;
}

header nav li:hover {
  box-shadow: 5px 5px 5px 5px #51b;
background-color: #9f9c9c;
justify-content: center;
opacity: 0.6;
}

header nav li {
  margin-right: 30px;
  margin-top: 20px;
  color: #000;
}

header button {
  max-height: 30px;
  margin-top: 30px;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
  background-position: center;
  font-family: 'Sedgwick Ave Display', cursive;

}

header h1 {
  font-family: 'Tilt Prism', cursive;
  font-weight: 600;
}

form {
  background-image: radial-gradient(#51b, #51bb7b), url("photographer.jpg");
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  .form {
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Bruno Ace SC', cursive;
  }

  .inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  }

  .input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
  }
  
  ::placeholder {
  color: transparent;
  }

  .label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
  }

  .submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #51b;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  }
  
  .submitBtn:hover {
  background-color: #51bb7b;
  transform: translateY(-2px);
  opacity: 0.6;
  color: #000;
  }

  .input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #51b;
  }

  .input:focus {
  border: 5px #51b;
  }

  input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  }

  footer{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    text-align: center;
    color: #51b;
    font-weight: 600;
    font-style: italic;
    text-shadow: #51bb7b
    font-family: 'Rubik Wet Paint', cursive;
  }